table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.titel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}

.titel th {
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid black;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  padding: o;
}

.row:nth-child(odd) {
  background-color: white;
}

.row:nth-child(even) {
  background-color: darkgrey;
}

.row td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
